<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.open.ms.service.mapper.MoneybookMapper">

	<resultMap id="totalMap" type="Map">
        <result javaType="Integer" column="totalCnt" property="totalCnt"/>
        <result javaType="Integer" column="totalPrice" property="totalPrice"/>
	</resultMap> 
    
    <select id="getMoneybookList" parameterType="Map" resultType="com.open.ms.service.vo.Moneybook">
    	SELECT
			`no`,
		    seq,
			usedDate,
			category,
			customer,
			usedPlace,
			price,
			note,
			memberId,
			registeredDate,
			modifiedDate
		FROM ( SELECT
				  @ROWNUM := @ROWNUM + 1 AS `no`,
				  seq,
				  usedDate,
				  category,
				  customer,
				  usedPlace,
				  price,
				  note,
				  memberId,
				  registeredDate,
				  modifiedDate
			   FROM ( SELECT @ROWNUM := 0 AS `no`) R,
				    ( SELECT
					     seq,
					     usedDate,
					     category,
					     customer,
					     usedPlace,
					     price,
					     note,
					     memberId,
					     DATE_FORMAT(registeredDate, '%Y-%m-%d %H:%i:%s') AS registeredDate,
					     DATE_FORMAT(modifiedDate, '%Y-%m-%d %H:%i:%s') AS modifiedDate
				      FROM oms_moneybook
				      WHERE memberId = #{memberId}
					    AND usedDate BETWEEN #{startDate} AND #{endDate}
				      ORDER BY ${sort} ${order}
					) T
			  ) T1
		WHERE `no` BETWEEN #{start} AND #{end}
    </select>
    
    <select id="getMoneybookListTotalCntAndPrice" parameterType="Map" resultMap="totalMap">
    	SELECT
    		COUNT(seq) AS totalCnt,
    		SUM(price) AS totalPrice
		FROM oms_moneybook
		WHERE memberId = #{memberId}
		  AND usedDate BETWEEN #{startDate} AND #{endDate}
    </select>
    
    <insert id="insertMoneybook" parameterType="com.open.ms.service.vo.Moneybook">
    	INSERT INTO `oms_moneybook` (`seq`, `usedDate`, `category`, `customer`, `usedPlace`, `price`, `note`, `memberId`, `registeredDate`, `modifiedDate`)
		VALUES ( IF((SELECT MAX(seq) FROM oms_moneybook t) IS NULL, 0, (SELECT MAX(seq) + 1 FROM oms_moneybook t1) ), 
				 #{usedDate}, #{category}, #{customer}, #{usedPlace}, #{price}, #{note}, #{memberId}, SYSDATE(), SYSDATE());
    </insert>

	<update id="updateMoneybook" parameterType="com.open.ms.service.vo.Moneybook">
		UPDATE `oms_moneybook`
		SET usedDate = #{usedDate},
			category = #{category},
			customer = #{customer},
			usedPlace = #{usedPlace},
			price = #{price},
			note = #{note},
			modifiedDate = SYSDATE()
		WHERE seq = #{seq}
		  AND memberId = #{memberId}
	</update>
	
	<delete id="deleteMoneybook" parameterType="com.open.ms.service.vo.Moneybook">
		DELETE FROM `oms_moneybook`
		WHERE seq = #{seq}
		  AND memberId = #{memberId}
	</delete>
	
</mapper>
