<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.open.ms.service.mapper.PersonMoneybookApprovalMapper">

	<select id="getApprovalList" parameterType="Map" resultType="com.open.ms.service.vo.MoneybookApproval">
		SELECT
			`no`,
			seq,
			sentMemberId,
		    sentMemberName,
            receivedMemberId,
            receivedMemberName,
            title,
            projectName,
            statusCodeGroup,
            statusCode,
            startDate,
            endDate,
            completedDate,
			registeredDate
		FROM ( SELECT
				  @ROWNUM := @ROWNUM + 1 AS `no`,
				  seq,
				  sentMemberId,
				  sentMemberName,
                  receivedMemberId,
                  receivedMemberName,
                  title,
                  projectName,
                  statusCodeGroup,
                  statusCode,
                  startDate,
                  endDate,
                  completedDate,
				  registeredDate
			   FROM ( SELECT @ROWNUM := 0 AS `no`) R,
				    ( SELECT
					     PMA.seq,
					     PMA.sentMemberId,
					     M.memberName AS sentMemberName,
                         PMA.receivedMemberId,
                         M2.memberName AS receivedMemberName,
                         PMA.title,
                         PMA.projectName,
                         PMA.statusCodeGroup,
                         PMA.statusCode,
                         DATE_FORMAT(PMA.startDate, '%Y-%m-%d') AS startDate,
                         DATE_FORMAT(PMA.endDate, '%Y-%m-%d') AS endDate,
                         DATE_FORMAT(PMA.completedDate, '%Y-%m-%d %H:%i:%s') AS completedDate,
					     DATE_FORMAT(PMA.registeredDate, '%Y-%m-%d %H:%i:%s') AS registeredDate
				      FROM oms_person_moneybook_approval PMA, oms_member M, oms_member M2
				      WHERE  PMA.sentMemberId = M.memberId
				        AND PMA.receivedMemberId = M2.memberId
				        <if test="sentMemberId != null">
				        	AND PMA.sentMemberId = #{sentMemberId}
				        </if>
				        <if test="receivedMemberId != null">
				        	AND PMA.receivedMemberId = #{receivedMemberId}
				        </if>
				        <if test="statusCode != null">
				        	AND PMA.statusCode = #{statusCode}
				        </if>
					    AND DATE_FORMAT(PMA.registeredDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
				      ORDER BY PMA.${sort} ${order}
					) T
			  ) T1
		WHERE `no` BETWEEN #{start} AND #{end}
    </select>
    
	<select id="getApprovalListTotalCnt" parameterType="Map" resultType="Integer">
    	SELECT
    		COUNT(seq) AS totalCnt
		FROM oms_person_moneybook_approval
		WHERE 1 = 1
		  <if test="sentMemberId != null">
			  AND sentMemberId = #{sentMemberId}
		  </if>
		  <if test="receivedMemberId != null">
			  AND receivedMemberId = #{receivedMemberId}
		  </if>
		  <if test="statusCode != null">
			  AND statusCode = #{statusCode}
		  </if>
		  AND DATE_FORMAT(registeredDate, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
    </select>
    
    <select id="getApprovalOfSeq" parameterType="String" resultType="com.open.ms.service.vo.MoneybookApproval">
		SELECT
			PMA.seq,
			PMA.sentMemberId,
			M.memberName AS sentMemberName,
			CONVERT(PMA.sentMemberSign USING utf8) AS sentMemberSign,
			PMA.receivedMemberId,
			M2.memberName AS receivedMemberName,
			CONVERT(PMA.receivedMemberSign USING utf8) AS receivedMemberSign,
			PMA.title,
			PMA.projectName,
			PMA.statusCodeGroup,
			PMA.statusCode,
			DATE_FORMAT(PMA.startDate, '%Y-%m-%d') AS startDate,
			DATE_FORMAT(PMA.endDate, '%Y-%m-%d') AS endDate,
			DATE_FORMAT(PMA.completedDate, '%Y-%m-%d %H:%i:%s') AS completedDate,
			DATE_FORMAT(PMA.registeredDate, '%Y-%m-%d %H:%i:%s') AS registeredDate
      FROM oms_person_moneybook_approval PMA, oms_member M, oms_member M2
      WHERE PMA.sentMemberId = M.memberId
        AND PMA.receivedMemberId = M2.memberId
        AND PMA.seq = #{seq}
    </select>

    <insert id="insertMoneybookApproval" parameterType="com.open.ms.service.vo.MoneybookApproval">
		INSERT INTO `oms_person_moneybook_approval` (
			`seq`,
			`sentMemberId`,
			`receivedMemberId`,
			`title`,
			`projectName`,
			`sentMemberSign`,
			`receivedMemberSign`,
			`statusCodeGroup`,
		    `statusCode`,
			`startDate`,
			`endDate`,
			`completedDate`,
			`registeredDate`
		)
		VALUES (
			IF((SELECT MAX(seq) FROM oms_person_moneybook_approval t) IS NULL, 0, (SELECT MAX(seq) + 1 FROM oms_person_moneybook_approval t1) ), 
			#{sentMemberId},
			#{receivedMemberId},
			#{title},
			#{projectName},
			#{sentMemberSign},
			#{receivedMemberSign},
			#{statusCodeGroup},
		    #{statusCode},
			#{startDate},
			#{endDate},
			#{completedDate},
			SYSDATE()
		)
    </insert>
	
	<update id="updateProcessingMoneybookApproval" parameterType="Map">
		UPDATE `oms_person_moneybook_approval`
		SET completedDate = SYSDATE(),
			<if test="vo.receivedMemberSign != null">
				receivedMemberSign = #{vo.receivedMemberSign},
			</if>
			statusCode = #{vo.statusCode}
		WHERE seq IN 
			<foreach collection="seqs" item="seq" open="(" separator="," close=")">
				#{seq}
			</foreach>
		  <if test="vo.sentMemberId != null">
		  	AND sentMemberId = #{vo.sentMemberId}
		  </if>
		  <if test="vo.receivedMemberId != null">
		  	AND receivedMemberId = #{vo.receivedMemberId}
		  </if>
	</update>
	
	<delete id="deleteMoneybookApproval" parameterType="com.open.ms.service.vo.MoneybookApproval">
		DELETE FROM `oms_person_moneybook_approval`
		WHERE seq = #{seq}
			<if test="sentMemberId != null">
				AND sentMemberId = #{sentMemberId} 
			</if>
			<if test="receivedMemberId != null">
				AND receivedMemberId = #{receivedMemberId} 
			</if>
	</delete>
	
</mapper>
